data
kaggle
storage
.github
data.zip
.venv
.env
.env.docker
logs
ragas
instruction
output
cache
colpali
rag/qa
textbook-extract
gpt5

# -----------------
# Python / tooling
# -----------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.cache/
*.log

package-env

cases
sft/samples

app/web/node_modules
app/web/.next

sample